export default {
  modules: ['@nuxtjs/axios'],
  axios: {
    baseURL: 'http://localhost:8000', // FastAPI backend URL
    browserBaseURL: 'http://localhost:8000',
    headers: {
      common: {
        Accept: 'application/json',
      },
    },
    retry: { retries: 3 }, // Enable retry on failure
  },
};